[Unit]
Description=Kagome Histogram Reports Autodeploy Service
After=network.target

[Service]
Type=oneshot
ExecStart=/usr/local/bin/autodeploy.sh
User=scada.sa
Group=scada.sa

[Install]
WantedBy=multi-user.target
